<template>
<div class="container">
            <br>
            
            
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            
            <!-- The content half -->
            <div class="col-md-12 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <div class="text-center" >
                        <img src="/images/logo.gif" alt="" style="height: 350px; width:250px;">
                    </div>
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4">Ventas G2M</h3>
                                <p class="text-muted mb-4">Registro y seguimiento de ventas cantadas</p>
                                
                                    
                                    <div class="form-group mb-3">
                                        <input id="inputPassword" v-model="dato.cedula" type="number" placeholder="cedula"  class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    </div>
                                    
                                    <button  v-on:click="authLogin()" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
                                    <div class="text-center d-flex justify-content-between mt-4"><p>Desarrollado by <a  class="font-italic text-muted"> 
                                        <u>G2M</u></a></p></div>
                                
                            </div>
                        </div>
                    </div><!-- End -->

                </div>
            </div><!-- End -->

        </div>
    </div>  
</div>
</template>

<script>
    import roles from '../roles'
    export default {
        data: ()=> {
            return {
                personal: [],
                dato: {
                    cedula: null
                },

                ruta: ''
            }
        },
        mounted() {
            console.log('Component mounted.')
            
        },
        methods:{


            authLogin(){
                console.log('cedula',this.dato.cedula);
                axios.get('https://infopostigo.com/ajax/empleado/po/'+this.dato.cedula)
                    .then(response => {
                        this.personal = response.data.datos;
                        console.log(this.personal)
                        if(this.personal.cedula == "N/A"){
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Este usuario no existe!',
                                footer: 'Por favor verifica tus datos!'
                            })
                            //console.log('usuario no existe')
                        }else{
                            localStorage.name = this.personal.nombre;
                            localStorage.cargo = this.personal.cargo;
                            localStorage.cedula = this.personal.cedula;

                            this.ruta = roles(this.personal.cargo);
                            console.log('resp ', this.ruta);
                            window.location.href = this.ruta;
                            
                            
                        }
                        
                        //window.location.href = "/sales/create";
                        
                    })
            },

            

            
        }
    }
</script>

<style scoped>
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://res.cloudinary.com/mhmd/image/upload/v1555917661/art-colorful-contemporary-2047905_dxtao7.jpg');
  background-size: cover;
  background-position: center center;
}
</style>