<template>
    <div class="container">
        <h2 class="text-center">Reporte Ventas Cantadas</h2>
        <br>
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <input v-on:click="getReports(1)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Corte 1
                    </label>
                </div>
                <div class="col">
                    <input v-on:click="getReports(2)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Corte 2
                    </label>
                </div>
                <div class="col">
                    <input v-on:click="getReports(3)" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                    <label class="form-check-label" for="flexRadioDefault2">
                        Corte 3
                    </label>
                </div>
            </div>
        </div>
        <br><br>
        <div class="text-center">
            <div class="row">
                <div class="col">
                    <download-excel  :data="reports" v-if="reports.length != 0">
                        <button type="button" class="btn btn-primary" aria-label="Left Align">
                        <i class="fa-solid fa-download"></i> Descargar Reporte
                        </button>
                    </download-excel>
                </div>
                <div class="col">
                    <button v-if="option == 1" v-on:click="gestionDay(0)" type="button" class="btn btn-primary" aria-label="Left Align">
                        <i class="fa-solid fa-download"></i> Ver reporte de Ayer
                    </button>
                    <button v-if="option == 0" v-on:click="gestionDay(1)" type="button" class="btn btn-primary" aria-label="Left Align">
                        <i class="fa-solid fa-download"></i> Ver reporte de Hoy
                    </button>
                </div>
                <div v-if="execution == 0" class="col">
                    <button v-on:click="getPointsExecution(1)" type="button" class="btn btn-primary" aria-label="Left Align">
                        <i class="fa-solid fa-download"></i> Ver puntos sin ejecucion
                    </button>
                </div>

                <div v-if="execution == 1" class="col">
                    <button v-on:click="getPointsExecution(0)" type="button" class="btn btn-primary" aria-label="Left Align">
                        <i class="fa-solid fa-download"></i> Ocultar puntos sin ejecucion
                    </button>
                </div>
            </div>
        </div>
        
        <br><br>
        <table v-if="execution == 1" class="table text-center">
            <thead>
                <tr>
                
                <th scope="col">Regional</th>
                <th scope="col">Depertamento</th>
                <th scope="col">ciudad</th>
                <th scope="col">Canal</th>
                <th scope="col">Nombre</th>
                <th scope="col">Code Pos</th>
                <th scope="col">Ejecución</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="point in pointsExcution" :key="point.id">
                
                <td>{{point.regional}}</td>
                <td>{{point.department}}</td>
                <td>{{point.city}}</td>
                <td>{{point.channel}}</td>
                <td>{{point.name}}</td>
                <td>{{point.code}}</td>
                <td>{{point.sales_count}}</td>
                </tr>
                
            </tbody>
        </table>
        <br><br>
        <div v-if="reports.length == 0"><h3 class="text-center">No hay datos para mostrar en este corte</h3></div>
        <div class="table-responsive">
            <table v-if="reports.length != 0" class="table text-center">
            <thead>
                <tr>
                
                <th scope="col">Regional</th>
                <th scope="col">Meta/LN/Cump%</th>
                <th scope="col">Meta/MIG/Cump%</th>
                <th scope="col">Meta/Port/Cump%</th>
                <th scope="col">Meta Pos</th>
                <th scope="col">Meta/RGU/Cump%</th>
                <th scope="col">Turnos R/C/Total</th>
                <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="report in reports" :key="report.id">
                
                <td>{{report.regional}}</td>
                <td>{{report.meta_linea_nueva}}-{{report.linea_nueva}}-{{Math.round(report.linea_nueva/report.meta_linea_nueva*100)}}%</td>
                <td>{{report.meta_migration}}-{{report.migration}}-{{Math.round(report.migration/report.meta_migration*100)}}%</td>
                <td>{{report.meta_porta}}-{{report.portabilidad}}-{{Math.round(report.portabilidad/report.meta_porta*100)}}%</td>
                <td>{{report.meta_pos}}-{{report.TOTAL}}-{{Math.round(report.TOTAL/report.meta_pos*100)}}%</td>
                <td>{{report.meta_home}}-{{report.home}}-{{Math.round(report.home/report.meta_home*100)}}%</td>
                <td>{{report.turnoR}}-{{report.turnoC}}-{{report.turnos_total}}</td>
                <td><button  type="button" v-on:click="getReportDepartment(report.regional, report.cut)" class="btn btn-primary text-center">Detalle</button></td>
                </tr>
                
            </tbody>
        </table>
        </div>
        
        <br>
        <div v-if="department"><h3 class="text-center">Datos por Departamento</h3></div>
        <table v-if="department" class="table text-center">
            <thead>
                <tr>
                <th scope="col">Departamento</th>
                <th scope="col">Meta/LN/Cump%</th>
                <th scope="col">Meta/MIG/Cump%</th>
                <th scope="col">Meta/Port/Cump%</th>
                <th scope="col">Meta Pos</th>
                <th scope="col">Meta/RGU/Cump%</th>
                <th scope="col">Turnos R/C/Total</th>
                <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="department in departments" :key="department.id">
                
                <td>{{department.department}}</td>
                <td>{{department.meta_linea_nueva}}-{{department.linea_nueva}}-{{Math.round(department.linea_nueva/department.meta_linea_nueva*100)}}%</td>
                <td>{{department.meta_migration}}-{{department.migration}}-{{Math.round(department.migration/department.meta_migration*100)}}%</td>
                <td>{{department.meta_porta}}-{{department.portabilidad}}-{{Math.round(department.portabilidad/department.meta_porta*100)}}%</td>
                 <td>{{department.meta_pos}}-{{department.TOTAL}}-{{Math.round(department.TOTAL/department.meta_pos*100)}}%</td>
                <td>{{department.meta_home}}-{{department.home}}-{{Math.round(department.home/department.meta_home*100)}}%</td>
                <td>{{department.turnoR}}-{{department.turnoC}}-{{department.turnos_total}}</td>
                <td><button  type="button" v-on:click="getPoint(department.department, department.cut)" class="btn btn-primary text-center">Detalle</button></td>
                </tr>
                
            </tbody>
        </table>

        <br>
        <div v-if="point"><h3 class="text-center">Datos por Punto de Venta</h3></div>
        <table v-if="point" class="table text-center">
            <thead>
                <tr>
                
                <th scope="col">Departamento</th>
                <th scope="col">Punto de venta</th>
               <th scope="col">Meta/LN/Cump%</th>
                <th scope="col">Meta/MIG/Cump%</th>
                <th scope="col">Meta/Port/Cump%</th>
                <th scope="col">Total Pos</th>
                <th scope="col">Meta/RGU/Cump%</th>
                <th scope="col">Turnos R/C/Total</th>
                
                
               
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="point in points" :key="point.id">
                
                <td>{{point.department}}</td>
                <td>{{point.name}}</td>
                <td v-if="point.linea_nueva == 0">N/A</td>
                <td v-if="point.linea_nueva > 0">{{point.meta_linea_nueva}}-{{point.linea_nueva}}-{{Math.round(point.linea_nueva/point.meta_linea_nueva*100)}}%</td>
                <td v-if="point.migration == 0">N/A</td>
                <td v-if="point.migration > 0">{{point.meta_migration}}-{{point.migration}}-{{Math.round(point.migration/point.meta_migration*100)}}%</td>
                <td v-if="point.portabilidad == 0">N/A</td>
                <td v-if="point.portabilidad > 0">{{point.meta_porta}}-{{point.portabilidad}}-{{Math.round(point.portabilidad/point.meta_porta*100)}}%</td>
                <td v-if="point.TOTAL == 0">N/A</td>
                <td v-if="point.TOTAL > 0">{{point.meta_pos}}-{{point.TOTAL}}-{{Math.round(point.TOTAL/point.meta_pos*100)}}%</td>
                
                <td v-if="point.meta_home == 0">N/A</td>
                <td v-if="point.meta_home > 0">{{point.meta_home}}-{{point.home}}-{{Math.round(point.home/point.meta_home*100)}}%</td>
                <td v-if="point.turnos_total == 0">N/A</td>
                <td v-if="point.turnos_total > 0">{{point.turnoR}}-{{point.turnoC}}-{{point.turnos_total}}</td>
                
                </tr>
                
            </tbody>
        </table>


        <div v-if="reports_channel.length == 0"><h3 class="text-center">No hay datos para mostrar por canal en este corte</h3></div>
         <div v-if="reports_channel.length > 0"><h3 class="text-center">Datos por Canal</h3></div>
        <div class="table-responsive">
            <table v-if="reports_channel.length != 0" class="table text-center">
            <thead>
                <tr>
                
                <th scope="col">Canal</th>
                <th scope="col">Meta/LN/Cump%</th>
                <th scope="col">Meta/MIG/Cump%</th>
                <th scope="col">Meta/Port/Cump%</th>
                <th scope="col">Meta Pos</th>
                <th scope="col">Meta/RGU/Cump%</th>
                <th scope="col">Turnos R/C/Total</th>
                <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="reportChannel in reports_channel" :key="reportChannel.id">
                
                <td>{{reportChannel.channel}}</td>
                <td>{{reportChannel.meta_linea_nueva}}-{{reportChannel.linea_nueva}}-{{Math.round(reportChannel.linea_nueva/reportChannel.meta_linea_nueva*100)}}%</td>
                <td>{{reportChannel.meta_migration}}-{{reportChannel.migration}}-{{Math.round(reportChannel.migration/reportChannel.meta_migration*100)}}%</td>
                <td>{{reportChannel.meta_porta}}-{{reportChannel.portabilidad}}-{{Math.round(reportChannel.portabilidad/reportChannel.meta_porta*100)}}%</td>
                <td>{{reportChannel.meta_pos}}-{{reportChannel.TOTAL}}-{{Math.round(reportChannel.TOTAL/reportChannel.meta_pos*100)}}%</td>
                <td>{{reportChannel.meta_home}}-{{reportChannel.home}}-{{Math.round(reportChannel.home/reportChannel.meta_home*100)}}%</td>
                <td>{{reportChannel.turnoR}}-{{reportChannel.turnoC}}-{{reportChannel.turnos_total}}</td>
                <td><button  type="button" v-on:click="getReporNewRegional(reportChannel.channel, reportChannel.cut)" class="btn btn-primary text-center">Detalle</button></td>
                </tr>
                
            </tbody>
        </table>
        </div>

        <br><br>

        <div v-if="channelRgional"><h3 class="text-center">Datos por Canal y Regional</h3></div>
        <div class="table-responsive">
            <table v-if="channelRgional" class="table text-center">
            <thead>
                <tr>
                
                <th scope="col">Regional</th>
                <th scope="col">Meta/LN/Cump%</th>
                <th scope="col">Meta/MIG/Cump%</th>
                <th scope="col">Meta/Port/Cump%</th>
                <th scope="col">Meta Pos</th>
                <th scope="col">Meta/RGU/Cump%</th>
                <th scope="col">Turnos R/C/Total</th>
                <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="reportChannelRegional in reports_channel_regional" :key="reportChannelRegional.id">
                
                <td>{{reportChannelRegional.regional}}</td>
                <td>{{reportChannelRegional.meta_linea_nueva}}-{{reportChannelRegional.linea_nueva}}-{{Math.round(reportChannelRegional.linea_nueva/reportChannelRegional.meta_linea_nueva*100)}}%</td>
                <td>{{reportChannelRegional.meta_migration}}-{{reportChannelRegional.migration}}-{{Math.round(reportChannelRegional.migration/reportChannelRegional.meta_migration*100)}}%</td>
                <td>{{reportChannelRegional.meta_porta}}-{{reportChannelRegional.portabilidad}}-{{Math.round(reportChannelRegional.portabilidad/reportChannelRegional.meta_porta*100)}}%</td>
                <td>{{reportChannelRegional.meta_pos}}-{{reportChannelRegional.TOTAL}}-{{Math.round(reportChannelRegional.TOTAL/reportChannelRegional.meta_pos*100)}}%</td>
                <td>{{reportChannelRegional.meta_home}}-{{reportChannelRegional.home}}-{{Math.round(reportChannelRegional.home/reportChannelRegional.meta_home*100)}}%</td>
                <td>{{reportChannelRegional.turnoR}}-{{reportChannelRegional.turnoC}}-{{reportChannelRegional.turnos_total}}</td>
                <td><button  type="button" v-on:click="getDeparment_regional(reportChannelRegional.regional, reportChannelRegional.channel, reportChannelRegional.cut)" class="btn btn-primary text-center">Detalle</button></td>
                </tr>
                
            </tbody>
        </table>
        </div>

        <div v-if="deparment_regional"><h3 class="text-center">Datos por Canal, Regional y Departamento</h3></div>
        <div class="table-responsive">
            <table v-if="deparment_regional" class="table text-center">
            <thead>
                <tr>
                
                <th scope="col">Regional</th>
                <th scope="col">Departamento</th>
                <th scope="col">Meta/LN/Cump%</th>
                <th scope="col">Meta/MIG/Cump%</th>
                <th scope="col">Meta/Port/Cump%</th>
                <th scope="col">Meta Pos</th>
                <th scope="col">Meta/RGU/Cump%</th>
                <th scope="col">Turnos R/C/Total</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr v-for="departmentRegionalChannel in department_regionalChannel" :key="departmentRegionalChannel.id">
                
                <td>{{departmentRegionalChannel.regional}}</td>
                <td>{{departmentRegionalChannel.department}}</td>
                <td>{{departmentRegionalChannel.meta_linea_nueva}}-{{departmentRegionalChannel.linea_nueva}}-{{Math.round(departmentRegionalChannel.linea_nueva/departmentRegionalChannel.meta_linea_nueva*100)}}%</td>
                <td>{{departmentRegionalChannel.meta_migration}}-{{departmentRegionalChannel.migration}}-{{Math.round(departmentRegionalChannel.migration/departmentRegionalChannel.meta_migration*100)}}%</td>
                <td>{{departmentRegionalChannel.meta_porta}}-{{departmentRegionalChannel.portabilidad}}-{{Math.round(departmentRegionalChannel.portabilidad/departmentRegionalChannel.meta_porta*100)}}%</td>
                <td>{{departmentRegionalChannel.meta_pos}}-{{departmentRegionalChannel.TOTAL}}-{{Math.round(departmentRegionalChannel.TOTAL/departmentRegionalChannel.meta_pos*100)}}%</td>
                <td>{{departmentRegionalChannel.meta_home}}-{{departmentRegionalChannel.home}}-{{Math.round(departmentRegionalChannel.home/departmentRegionalChannel.meta_home*100)}}%</td>
                <td>{{departmentRegionalChannel.turnoR}}-{{departmentRegionalChannel.turnoC}}-{{departmentRegionalChannel.turnos_total}}</td>
                </tr>
                
            </tbody>
        </table>
        </div>

    </div>
</template>

<script>
import roles from '../roles'
    export default {
        
        data: ()=>{
            return {
                point: false,
                department: false,
                channelRgional: false,
                deparment_regional: false,
                option: 1,
                execution: 0,
                reports: [],
                reports_channel: [],
                reports_channel_regional: [],
                department_regionalChannel: [],
                departments: [],
                points: [],
                pointsExcution: [],   
            }
            
        },
        mounted() {
            if(localStorage.cedula){
                this.getReports(1);
            }else{
                window.location.href = "/auth/login";
            }
            
            //console.log('Component mounted.')
        },
        methods:{
            getReports(cut){
                this.point = false;
                this.department = false;
                axios.get('/api/reports/'+cut+'/'+this.option)
                    .then(response => {
                        this.reports = response.data.sale;
                        console.log('reports: ', this.reports)
                        this.getReportsChannel(cut);
                    })
            },

            getPointsExecution(num){
                this.execution = num;
                axios.get('/api/points/execution')
                    .then(response => {
                        this.pointsExcution = response.data.puntos;
                        console.log('puntos sin ejecucion', this.pointsExcution);
                    })
            },

            getReportDepartment(regional, cut){
                this.department = true;
                this.point = false;
                console.log('regional: ',regional + 'corte: ', cut)
                axios.get('/api/report/department/'+regional+'/'+cut+'/'+this.option)
                    .then(response =>{
                        this.departments = response.data.detalle;
                        console.log('reporte departamento: ', this.departments)
                    })
            },

            gestionDay(op){
                this.option = op;
                //this.point = false;
                //this.department = false;
                console.log('day: ', op);
                this.getReports(1);
            },

            getPoint(departamento, cut){
                this.point = true;
                console.log('department: ', departamento + ' corte: ', cut)
                axios.get('/api/points/'+ departamento+'/'+cut+'/'+this.option)
                .then(response =>{
                    this.points = response.data.points;
                    console.log('puntos: ', this.points)
                })
            },
            donwload(cut){
                axios.get('/excel')
                    .then(response => {
                        this.reports = response.data.sale;

                        console.log('reports: ', this.reports)
                })
            },
            getReportsChannel(cut){
                this.channelRgional = false;
                this.deparment_regional = false;
                axios.get('/api/reports_channel/'+cut+'/'+this.option)
                    .then(response => {
                        this.reports_channel = response.data.sale_channel;
                        console.log('reports channel: ', this.reports_channel);
                    })
            },

            getReporNewRegional( channel, cut ){
                this.channelRgional = true;
                this.deparment_regional = false;
                axios.get('/api/reports_regional_new/'+channel+'/'+cut+'/'+this.option)
                    .then(response => {
                        this.reports_channel_regional = response.data.detalle;
                        console.log('reports channel regional: ', this.reports_channel_regional);
                    })
            },

            getDeparment_regional(regional, channel, cut){
                this.deparment_regional = true;
                axios.get('/api/reports_r_c_d/'+regional+'/'+channel+'/'+cut+'/'+this.option)
                    .then(response => {
                        this.department_regionalChannel = response.data.detalle;
                        console.log('reports channel regional department lucho: ', this.department_regionalChannel);
                    })
            }
        }
    }
</script>