<template>
    <div class="container">
        <h2 class="text-center">Formulario Registro de Ventas Cantadas</h2>
        <br><br>
        <div class="text-center">
           <button type="button" v-on:click="verReporte()" class="btn btn-primary">Ver reporte</button>
        </div>
        <br>
        <div class="input-group mb-3">
            <select class="form-select" v-on:change="getDepartments($event)" aria-label="Default select example">
                <option selected> Elija la Regional</option>
                <option v-for=" region in regionalOptions " v-bind:key="region.id" :value="region.regional">{{region.regional}}</option>
            
            </select>
            <span class="input-group-text">--</span>
            <select class="form-select" v-on:change="getChannels($event)" aria-label="Default select example">
                <option selected>Departamento</option>
                <option  v-for=" department in departments " v-bind:key="department.id" :value="department.department">{{department.department}}</option>
            
            </select>
        </div>

        <div class="input-group mb-3">
            <select class="form-select" v-on:change="getStores($event)" aria-label="Default select example">
                <option selected>Canal</option>
                <option v-for=" channel in channels " v-bind:key="channel.id" :value="channel.channel">{{channel.channel}}</option>
            
            </select>
            <span class="input-group-text">--</span>
            <select class="form-select" v-on:change="getGoal($event)" v-model="sale.point_sale_id" aria-label="Default select example">
                <option selected>Punto de Venta</option>
                <option  v-for=" store in stores " v-bind:key="store.id" :value="store.id">{{store.name}}</option>
            
             </select>
        </div>
        
        <h5 class="text-center">Ejecución Movil</h5>

        <div v-if="pos" class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">LN</span>
            <input type="number" v-model="sale.new" class="form-control" placeholder="cantidad de linea nueva" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
            <span class="input-group-text" id="inputGroup-sizing-default">Migración</span>
            <input type="number" v-model="sale.migration" class="form-control" placeholder="cantidad de migracion" aria-label="migracion">
        </div>

        <div class="input-group mb-3">
            <span v-if="pos" class="input-group-text" id="inputGroup-sizing-default">Porta</span>
            <input v-if="pos" type="number" v-model="sale.cover_page" class="form-control" placeholder="cantidad de portabilidad" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <span class="input-group-text">--</span>
            <input type="text" v-if="c1" class="form-control" placeholder="CORTE 1 DETECTADO" aria-label="Disabled Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
            <input type="text" v-if="c2" class="form-control" placeholder="CORTE 2 DETECTADO" aria-label="Disabled Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
            <input type="text" v-if="c3" class="form-control" placeholder="CORTE 3 DETECTADO" aria-label="Disabled Sizing example input" aria-describedby="inputGroup-sizing-sm" disabled>
        </div>
        <h5 class="text-center">Ejecución Home</h5>

        <div class="input-group mb-3">
            <span v-if="rgu" class="input-group-text" id="inputGroup-sizing-default">RGU</span>
            <input v-if="rgu" type="number" v-model="sale.rgu" class="form-control" placeholder="RGU INGRESADAS" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
            
        </div>

        <h5 v-if="turnos" class="text-center">Ejecución Turnos</h5>

        <div class="input-group mb-3">
            <span v-if="turnos" class="input-group-text" id="inputGroup-sizing-default">Turnos C</span>
            <input v-if="turnos" type="number" v-model="sale.turno_c" class="form-control" placeholder="Turno C" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
            <span v-if="turnos" class="input-group-text" id="inputGroup-sizing-default">Turnos R</span>
            <input v-if="turnos" type="number" v-model="sale.turno_r" class="form-control" placeholder="Turno R" aria-label="migracion">
        </div>

        <div class="input-group mb-3">
            <span v-if="turnos" class="input-group-text" id="inputGroup-sizing-default">Turnos Totales</span>
            <input v-if="turnos" type="number" v-model="sale.turno_total" class="form-control" placeholder="cantidad de migracion" aria-label="migracion">
        </div>
        
        <h3 class="text-center">Metas</h3>
        <div v-if="!c4" class="input-group mb-3">
            <span v-if="goal_pos" class="input-group-text" id="inputGroup-sizing-default">Meta pos</span>
            <input v-if="goal_pos" type="number" v-model="sale.goal_pos" class="form-control" placeholder="Meta pos" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
            <span v-if="goal_rgu" class="input-group-text" id="inputGroup-sizing-default">Meta RGU</span>
            <input v-if="goal_rgu" type="number" v-model="sale.goal_rgu" class="form-control" placeholder="Meta rgu ingresada" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
        </div>

        <div v-if="!c4" class="input-group mb-3">
            <span v-if="goal_lines" class="input-group-text" id="inputGroup-sizing-default">Meta LN</span>
            <input v-if="goal_lines" type="number" v-model="sale.goal_new" class="form-control" placeholder="Meta LN" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
            <span v-if="goal_lines" class="input-group-text" id="inputGroup-sizing-default">Meta Migra</span>
            <input v-if="goal_lines" type="number" v-model="sale.goal_migration" class="form-control" placeholder="Meta migration" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
        </div>
        <div v-if="!c4" class="input-group mb-3">
            <span v-if="goal_lines" class="input-group-text" id="inputGroup-sizing-default">Meta porta</span>
            <input v-if="goal_lines" type="number" v-model="sale.goal_porta" class="form-control" placeholder="Meta porta" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" >
            
        </div>
        <div v-if="c4"  class="input-group mb-3">
            <span v-if="goal_lines" class="input-group-text" id="inputGroup-sizing-default">Meta LN</span>
            <input v-if="goal_lines" type="number" v-model="sale.goal_new" class="form-control" placeholder="Meta LN" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" disabled>
            <span v-if="goal_lines" class="input-group-text" id="inputGroup-sizing-default">Meta Migra</span>
            <input v-if="goal_lines" type="number" v-model="sale.goal_migration" class="form-control" placeholder="Meta migration" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" disabled>
        </div>
        <div v-if="c4" class="input-group mb-3">
            <span v-if="goal_lines" class="input-group-text" id="inputGroup-sizing-default">Meta porta</span>
            <input v-if="goal_lines" type="number" v-model="sale.goal_porta" class="form-control" placeholder="Meta porta" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" disabled>
            
        </div>

        <div v-if="c4" class="input-group mb-3">
            <span v-if="goal_pos" class="input-group-text" id="inputGroup-sizing-default">Meta pos</span>
            <input v-if="goal_pos" value="sale.goal_pos" type="number" v-model="sale.goal_pos" class="form-control" placeholder="Meta pos" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" disabled>
            <span v-if="goal_rgu" class="input-group-text" id="inputGroup-sizing-default">Meta RGU</span>
            <input v-if="goal_rgu" value="sale.goal_rgu" type="number" v-model="sale.goal_rgu" class="form-control" placeholder="Ingresada rgu" aria-label=" Sizing example input"  aria-describedby="inputGroup-sizing-sm" disabled>
        </div>


        
        <button  type="button" v-on:click="validForm()" class="btn btn-primary">Guardar Venta</button>

        <br><br>

        
    </div>
</template>

<script>

export default {
    data: () =>{
        return {
            c1: false,
            c2: false,
            c3: false,
            c4: false,
            corte: 0,
            depa: null,
            rgu: true,
            pos: true,
            turnos: true,
            goal_pos: true,
            goal_rgu: true,
            channel: null,
            goal_lines: true,
            regionalOptions: [],
            departments: [],
            channels: [],
            stores: [],
            sale: {
                cut: null,
                identification_card: null,
                new: null,
                migration: null,
                cover_page: null,
                point_sale_id: null,
                option: 1,
                rgu: null,
                turno_r: 0,
                turno_c: 0,
                turno_total: 0,
                goal_pos: null,
                goal_rgu: null,
                goal_new: null,
                goal_migration: null,
                goal_porta: null
            }

        }
    },
        mounted() {
            if(localStorage.cedula){
                this.sale.identification_card = localStorage.cedula;
                this.getRegional();
                this.getHora();
                console.log('componente arriba')
            }else{
                window.location.href = "/auth/login";
            }
            
        },
        methods:{
            getData(){
                if(localStorage.cedula){
                    this.sale.identification_card = localStorage.cedula;
                    this.getRegional();
                    this.getHora();
                    console.log('componente arriba')
                }else{
                    window.location.href = "/auth/login";
                }
            },

            getRegional(){
                axios.get('/api/point_sales')
                    .then(response => {
                        this.regionalOptions = response.data.punto_de_venta;
                        //console.log('puntos_de_venta', response)
                    })
            },
            
            getDepartments(event){
                
                var regional = event.target.value;
                axios.get('/api/deparments/'+regional)
                    .then(response => {
                        this.departments = response.data.departments;
                        //console.log('departamentos', this.departments)
                    })
            },

            verReporte(){
                 window.location.href = "/report/sales";
            },

            getChannels(event){
                //console.log('evento: ', event.target.value)
                var department = event.target.value;
                this.depa = department;
                axios.get('/api/channels/'+department)
                    .then(response => {
                        this.channels = response.data.channels;
                        //console.log('canales: ', this.channels)
                    })
            },

            validtor(){
                console.log('esto es lo que vamos a validar', this.channel);
                if(this.channel === 'FVD HOME' || this.channel === 'RETAIL HOME' || this.channel === 'DIGITAL HOME' || this.channel === 'TELEVENTAS HOME' || this.channel === 'CU'){
                    this.goal_pos = false;
                    this.pos = false;
                    this.turnos = false;
                    this.rgu = true;
                    this.sale.new = 0;
                    this.sale.migration = 0;
                    this.sale.cover_page = 0;
                    this.sale.goal_pos = 0;
                    this.goal_rgu = true;
                    this.goal_lines = false;
                    this.sale.goal_new = 0;
                    this.sale.goal_migration = 0;
                    this.sale.goal_porta = 0;
                }
                if(this.channel === 'TIENDAS'){
                    this.goal_pos = true;
                    this.pos = true;
                    this.turnos = true;
                    this.goal_rgu = true;
                    this.goal_pos = true;
                    this.rgu = true;
                    this.goal_lines = true;
                    this.sale.goal_new = '';
                    this.sale.goal_migration = '';
                    this.sale.goal_porta = '';
                }
                if(this.channel === 'ISLAS'){
                    this.goal_pos = true;
                    this.pos = true;
                    this.turnos = false;
                    this.goal_rgu = true;
                    this.goal_pos = true;
                    this.rgu = true;
                    this.goal_lines = true;
                    this.sale.goal_new = '';
                    this.sale.goal_migration = '';
                    this.sale.goal_porta = '';
                }
                if(this.channel === 'RETAIL MOVIL' || this.channel === 'DIGITAL MOVIL' || this.channel === 'TELEVENTAS MOVIL'){
                    this.pos = true;
                    this.rgu = false;
                    this.goal_rgu = false;
                    this.goal_pos = true;
                    this.turnos = false;
                    this.sale.goal_rgu = 0;
                    this.sale.rgu = 0;
                    this.goal_lines = true;
                    this.sale.goal_new = '';
                    this.sale.goal_migration = '';
                    this.sale.goal_porta = '';
                }
            },

            getStores(event){
                var channel = event.target.value;
                this.channel = channel;
                this.validtor();
                axios.get('/api/stores/' + channel +'/' + this.depa)
                    .then(response => {
                        this.stores = response.data.stores;
                        console.log('tiendas: ', this.stores)
                    })
            },

            getGoal(event){
                var idPoint = event.target.value;
                console.log('ID-PDV A BUSCAR LA META', idPoint);
                if(this.c1 === false){
                    
                    axios.get('/api/goal/'+idPoint)
                    .then(response => {
                        console.log('metas que llego', response);
                        if(response.data.metas != null){
                            this.sale.goal_pos = response.data.metas.goal_pos;
                            this.sale.goal_rgu = response.data.metas.goal_rgu;
                            this.sale.goal_new = response.data.metas.goal_new;
                            this.sale.goal_migration = response.data.metas.goal_migration;
                            this.sale.goal_porta = response.data.metas.goal_porta;
                        }else{
                            console.log('esto esta vacio');
                            this.c4 = false;
                        }
                        
                    })
                }else{
                  console.log('ingrese su meta');

                }
                
            },


            saveSale(){
                axios.post('/api/sales', this.sale)
                    .then(response => {
                        
                        if(response.data === "repetido"){
                            Swal.fire({
                                        title: 'Ya se encuentra un dato registrado en este punto de venta para este corte',
                                        text: "¿Desea modificarlo?",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Si, Modificar!'
                                        }).then((result) => {
                                        if (result.isConfirmed) {
                                            this.sale.option = 2;
                                            this.saveSale();
                                            Swal.fire(
                                            'Proceso exitoso!',
                                            'los datos se modificaron correctamente.',
                                            'success'
                                            )
                                        }
                                    })
                        }
                        console.log('la venta se guardo con exito: ', response);
                        
                        this.getHora();
                        this.getData();
                    })
                    //this.sale = {};
            },

            getHora(){
                //var c1 = false, c2 = false, c3 = false;
                var hoy = new Date();
                var hora = hoy.getHours();
                if(hora >= 0 && hora < 9){
                    this.c1 = true;
                    this.sale.cut = 1;
                    
                }
                if(hora > 8 && hora < 13){
                    this.c1 = true;
                    this.sale.cut = 1;
                } 
                if(hora > 12 && hora < 18){
                    this.c2 = true;
                    this.sale.cut = 2;
                    this.c4 = true;
                } 
                if(hora > 17 && hora < 24){
                    this.c3 = true;
                    this.sale.cut = 3;
                    this.c4 = true;
                }
                console.log('hora actual: ', hora);
            },

            validForm(){
                console.log('datos a guardar: ', this.sale)

                if(this.sale.new === null && this.pos === true){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'por favor completa los datos!',
                        footer: 'todos los campos son requeridos'
                    })
                    
                }else{
                    if(this.sale.migration === null && this.pos === true){
                         Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'por favor completa los datos!',
                            footer: 'todos los campos son requeridos'
                        })
                    }else{
                        if(this.sale.cover_page === null && this.pos === true){
                             Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'por favor completa los datos!',
                                footer: 'todos los campos son requeridos'
                            })
                        }else{
                            if(this.sale.cut === null){
                                 Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'por favor completa los datos!',
                                    footer: 'todos los campos son requeridos'
                                })
                            }else{
                                if(this.sale.point_sale_id === null){
                                     Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'por favor completa los datos!',
                                        footer: 'todos los campos son requeridos'
                                    })
                                }else{
                                    Swal.fire({
                                        title: '¿Datos correctos?',
                                        text: "Una vez envie no puede modificar!",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Si, Enviar!'
                                        }).then((result) => {
                                        if (result.isConfirmed) {
                                            this.sale.option = 1;
                                            this.saveSale();
                                            Swal.fire(
                                            'Proceso exitoso!',
                                            'los datos se guardaron correctamente.',
                                            'success'
                                            )
                                        }
                                    })
                                }
                            }
                        }
                    }
                }

              
                /**/
            }
        }
    }
</script>

<style scoped>

</style>
